<div class="top-bar">
  <div class="top-border">
    <img src="./src/static/images/header/top.png" class="headle-bar-img">
  </div>
  <div class="top-title">互联网+智慧社区综治信息服务平台</div>
  <div class="two-title"></div>
  <div class="top-buttons-1">
    <!-- <div class="top-button top-button-4">
      <img src="./src/static/images/header/top_button_default.png">
      <div class="button-tip">一键报警</div>
    </div> -->
    <div class="top-button top-button-3">
      <img src="./src/static/images/header/top_button_default.png">
      <div class="button-tip">治安巡逻</div>
    </div>
    <div class="top-button top-button-2">
      <img src="./src/static/images/header/top_button_default.png">
      <div class="button-tip">视频监控</div>
    </div>
    <div class="top-button top-button-1">
      <img src="./src/static/images/header/top_button_default.png">
      <div class="button-tip">社区介绍</div>
    </div>
    <div class="head-time">
      <span class="time-head">-月-号</span>
      <span class="time-bottom">--:--:--</span>
    </div>
  </div>
  <div class="top-buttons-2">
    <div class="top-button top-button-8">
      <img src="./src/static/images/header/top_button_default.png">
      <div class="button-tip">人脸识别</div>
    </div>
    <div class="top-button top-button-4">
      <img src="./src/static/images/header/top_button_default.png">
      <div class="button-tip">一键报警</div>
    </div>
    <!-- <div class="top-button top-button-7">
      <img src="./src/static/images/header/top_button_default.png">
      <div class="button-tip">重点人群</div>
    </div>
    <div class="top-button top-button-6">
      <img src="./src/static/images/header/top_button_default.png">
      <div class="button-tip">信息发布</div>
    </div> -->
    <div class="top-button top-button-5">
      <img src="./src/static/images/header/top_button_default.png">
      <div class="button-tip">一键求助</div>
    </div>
  </div>
  <div class="log-out">
    <img src="./src/static/images/header/split.png">
    <img class="logout-img" src="./src/static/images/header/icon_quit.png">
  </div>
</div>