<div class="mask"></div>
<div class="row one-page">
  <div class="page-title">
    <img class="icon-title" src='./src/static/images/content/icon_details.png'>
    <pre class="page-title">县区情况：</pre>
    <!-- <img class="icon-title icon-del one-close" src='./src/static/images/content/icon_delete.png'> -->
  </div>
  <div class="page-content">
    <div class="one-item">
      <img src="./src/static/images/content/1.png">
      <span>
         面积<span class="big-number">{{area}}</span>平方公里、
        <span class="big-number">{{town}}</span>镇
        <span class="big-number">{{county}}</span>乡、
        <span class="big-number">{{village}}</span>个行政村
      </span>
    </div>    
    <div class="one-item">
      <img src="./src/static/images/content/3.png">
      <spam>
         常驻人口<span class="big-number">{{residentPopulation}}</span>万人、
      </span>
      <spam>
         回族<span class="big-number">{{huiNationality}}</span>万人、
      </span>
      <spam>
         占总人口<span class="big-number">{{totalPopulationPercentage}}%</span>
      </span>
    </div>
    <div class="one-item">
      <img src="./src/static/images/content/4.png">
      <spam>
         居民<span class="big-number">{{households}}</span>户、
      </span>
      <span>
          <span class="big-number">{{totalPopulation}}</span>万人、
      </span>
      <span>
          人口自然增长率<span class="big-number">{{naturalPopulation}}</span>‰
      </span>
    </div>
    <div class="one-item">
      <div class="item">
        <img src="./src/static/images/content/2.png">
        <span>
          民房
          <span class="big-number">{{civilHouse}}</span>栋、
        </span>
        <span>
          楼宇
          <span class="big-number">{{building}}</span>栋
        </span>
      </div>
    </div>
    <div class="one-item">
      <img src="./src/static/images/content/5.png">
      <spam>
        物业管理住宅<span class="big-number">{{management}}</span>栋、
      </span>
      <spam>
        单位自管住宅<span class="big-number">{{unitSelfTube}}</span>栋、
      </span>
      <spam>
        商住两用<span class="big-number">{{commercial}}</span>栋
      </span>
    </div>
  </div>
</div>
